<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heading</title>
</head>
<body>
    <h1>Hello</h1>
    <h2>Bye Bye</h2>
    <p>Hello, today I went to the grocery store. I purchased 3 <em>kiwis</em>. I purchased 2 water bottles.</p>
    <p>The night sky is very dark. I can view the <em>stars</em> in the sky at night. The wind is very strong.</p>
    <ul>
        <!-- These are my favorite fruits! -->
        <li>Pear</li>
        <li>Pineapple</li>
        <li>Apple</li>
        <li>Banana</li>
    </ul>
    <table>
        <tr>
            <th>Courses</th>
            <th>Number of Students</th>
            <th>Registered Semester</th>
        </tr>
            <!-- These are my favorite classes! -->
        <tr>
            <td>BMGT364</td>
            <td>50</td>
            <td>Spring 2025</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>32</td>
            <td>Fall 2025</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>25</td>
            <td>Spring 2026</td>
        </tr>
    </table>

    <br>
    <a>http://127.0.0.1:5000/hello</a>
    <!-- These are my favorite websites! -->
    <br>
    <a>https://www.un.org/en/</a>
    <br>
    <a>https://european-union.europa.eu/index_en</a>
</body>
</html>