<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heading</title>
</head>
<body>
    <h1>Hello</h1>
    <h2>Bye Bye</h2>
    <h2>Bye Bye Again</h2>
    <p>Hello, today I went to the <strong>grocery</strong> store. I purchased 3 <em>kiwis</em>. I purchased 2 water bottles.</p>
    <p>The <strong>night</strong> sky is very dark. I can view the <em>stars</em> in the sky at night. The wind is very strong.</p>
    <ul>
        <!-- These are my favorite fruits! -->
        <li>Pear</li>
        <li>Pineapple</li>
        <li>Apple</li>
        <li>Banana</li>
    </ul>
    <ol>
        <li>Chicken</li>
        <li>Beef</li>
        <li>Pork</li>
    </ol>
    <table>
        <tr>
            <th>Courses</th>
            <th>Number of Students</th>
            <th>Registered Semester</th>
        </tr>
            <!-- These are my favorite classes! -->
        <tr>
            <td>BMGT364</td>
            <td>50</td>
            <td>Spring 2025</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>32</td>
            <td>Fall 2025</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>25</td>
            <td>Spring 2026</td>
        </tr>
    </table>

    <br>
    <p> A link to the <a href="/">starting page</a></p>
    <!-- These are my favorite websites! -->
    <br>
    <p> A link to the <a href="https://www.coolmathgames.com/">Cool Math Games Website</a></p>
    <br>
    <p> A link to the <a href="https://european-union.europa.eu/index_en" target="_blank">European Union Website</a></p>
    <br>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">
</body>
</html>